<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>main}}
    <div class="project-banner" style="background-image:url({{project.bannerphoto}})">
        <div class="project-banner-white">
            <div class="project-title">
                <div class="project-name">{{project.title}}</div>
                <div class="project-category">{{project.category}}</div>
            </div>
        </div>
    </div>
    <div class="project-block">
        <div class="project-des">{{project.description}}</div>
        <div class="project-web">
            <i id="project-arrow" class="fas fa-long-arrow-alt-right"></i>
            <a class="project-web-name" href="{{project.url}}" target="_blank">{{project.sitename}}</a>
        </div>
        <div class="project-deliv-title">Deliverables</div>
        {{#each project.deliverables}}
        <li class="project-tools" >{{this}}</li>
        {{/each}}
    </div>
    {{>(partialHelper project.id)}}
    {{>footer}}
</body>
</html>